@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/**
Global CSS:Start
 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin-top: 10px;
    background-color: #F7F7F7;
}

.site-logo img {
    width: 115px;
}

.content {
    padding: 20px 20px 0 20px;
    margin-top: 100px;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-blue-btn {
    background-color: #99A9FF;
    color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    font-weight: bold;
}

.site-white-btn {
    background-color: white;
    color: #99A9FF !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    font-weight: bold;
}

.site-grey-btn {
    background-color: #D9D9D9;
    color: black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    font-weight: bold;
}

.fa-file-excel-o {
    color: green;
}

@media (max-width: 575px) {
    .content {
        padding-bottom: 11.5rem;
    }
}

/**
Navbar CSS:Start
 */
.navbar-container {
    background-color: #f7f7f7 !important;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    background-color: #EFEEED !important;
}

.nav-link {
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 200px;
}

.nav-item {
    margin: 10px;
}

.navbar-nav {
    margin-left: 50px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    top: -10px;
}

@media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (max-width: 991px) {
    .nav-link {
        padding-left: 30px !important;
    }
}

@media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

/**
Navbar CSS:End
 */

/**
Loader CSS:Start
 */
#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

/**
Loader CSS:End
 */

/**
Footer CSS:Start
 */
footer {
    text-align: center;
    font-weight: bold;
    background-color: #E2E2E2;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer a {
    margin: 20px;
    color: #3C6BFE;
}

@media (max-width: 374px) {
    footer {
        display: grid;
    }
}

/**
Footer CSS:End
 */

/**
Global CSS:End
 */

/**
Distance Calculator CSS:Start
 */
.distance-calculator #map {
    height: 500px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.distance-calculator #distanceDetails {
    display: none;
    background-color: white;
    padding: 10px;
}

@media (max-width: 991px) {
    .distance-calculator .distance-tool-btn {
        margin-bottom: 5px;
    }
}

/**
Distance Calculator CSS:End
 */

/**
Commute Calculator CSS:Start
 */
.commute-calculator #excelImage {
    max-width: 100%;
    height: auto;
}

.commute-calculator .file-step-header {
    color: #556BFC;
    font-weight: bold;
}

.commute-calculator .number-of-rows, .commute-calculator #emailMessage {
    display: none;
    font-weight: bold;
    color: green;
    padding-top: 5px;
}

.commute-calculator .process-commute-btn {
    display: none;
}

.commute-calculator .step-2, .commute-calculator .step-3 {
    display: none;
}

.commute-calculator .download-file-section {
    background-color: white;
}

.commute-calculator .download-btn {
    color: white;
    font-weight: bold;
    background-color: #6FCA72;
}

.commute-calculator #cardErrors {
    padding-top: 10px;
    color: red;
}

.commute-calculator .file-upload, .commute-calculator #commutePaymentForm, .commute-calculator .download-file-section {
    background-color: white;
    padding: 20px;
}

.commute-calculator .accept-terms-link {
    color: #3C6BFE;
    font-weight: bold;
}

@media (min-width: 768px) {
    .commute-calculator .card-element-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .commute-calculator #cardElement {
        width: 30%;
    }
}
/**
Commute Calculator CSS:End
 */
